/* .App {
  text-align: center;
} */

h2,h3,form {
  text-align: center;
}

form {
  margin-bottom: 1rem;
}

img {
  width: 10rem;
}

#button-next {
  float: right;
}

#search-card {
  margin: 0 auto;
}

.card-link {
  text-decoration: none;
  color: #3F51B5;
}

html {
  background-color: #202020;
}
body {
  font-family: "Roboto Mono Medium";
  color: #3b8052;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  color: #a8770f;
  white-space: nowrap;
  background: #E8E8E8;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

